@import "colors";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Crete Round', serif;
}

.bg-works-section {
  background-color: rgb(233, 237, 238);
}

.text-color {
  color: $text-header-color !important;
}

.second-color {
  color: $second-color;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gap {
  gap: 10px;
}

/* Nav bar */

.nav-bg {
  background-color: $color-nav;
}

/* Header */

.header-bg {
  background-color: $color-header;
}

.header-size {
  height: 34rem;
}

.padding-y {
  padding-top: 7rem;
}

.text-header-size {
  height: 14rem;
}

.font-l {
  font-size: 78px;
}

.font-size-text {
  font-size: 1.2rem;
}

.header-svg {
  background-image: url(../images/undraw_Updated_resume_re_q1or.svg);
  height: 80vh;
}

/* kakebo section */

.bg-kakebo {
  background-color: $second-color;
}

.img-bg-kakebo {
  background: linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%), url(../images/kakebo-m.jpg);
}

/* w-section */

.size-box {
  height: 27.188rem;
}

.box-shadow {
  box-shadow: 5px -5px 5px -3px rgb(63, 60, 57);
}

.position-text-section {
  position: relative;
  width: 125px;
  left: 1rem;
  top: 45%;
}

.img-bg-1 {
  background: linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%), url(../images/alfred.png);
}

.img-bg-2 {
  background: linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%), url(../images/weather.png);
}

.img-bg-3 {
  background: linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%), url(../images/spacewars.png);
}

.img-bg-4 {
  background: linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%), url(../images/todolist.png);
}

.img-bg-5 {
  background: linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%), url(../images/patashule.png);
}

.img-bg-6 {
  background: linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%), url(../images/resta.png);
}

.bg-color {
  background-color: rgba(0, 0, 0, 0.699);
}

/* about section */

.img-profile {
  width: 95vw;
  height: 35vw;
  background-image: url(../images/profile-pic.jpg);
}

/* Contact Section */

.btn-bg {
  background-color: $second-color !important;
}
