@import "colors";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Crete Round', serif;
}

.text-color {
  color: $text-header-color;
}

.second-color {
  color: $second-color;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gap {
  gap: 10px;
}
/* Nav bar */

.nav-bg {
  background-color: $color-nav;
}

/* Header */

.header-bg {
  background-color: $color-header;
}

.header-size {
  height: 34rem;
}

.padding-y {
  padding-top: 7rem;
}

.text-header-size {
  height: 14rem;
}

.font-l {
  font-size: 78px;
  
}



/* w-section */

.size-box {
  height: 27.188rem;
}

.box-shadow {
  box-shadow: 5px -5px 5px -3px rgb(63, 60, 57);
}

.position-text-section {
  position: relative;
  width: 125px;
  left: 1rem;
  top: 45%;
}

.img-bg-1 {
  background: linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%), url(/assets/images/98182951-0c68e380-1ed5-11eb-81f4-3c7fbe9e82e6.png);
}

.bg-color {
  background-color: rgba(0, 0, 0, 0.699);
}

/* about section */

.size-about {
  height: 36.938rem;
}



