@import "colors";
@import "search";
@import "results";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-bg {
  background-color: $color-darker !important;
}

/*  Footer  */

.footer-logo {
  width: 2.625rem;
}

.contact-p {
  color: $color-red-2;
}

.footer-bottom {
  height: 65px;
}
